body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    cursor: default;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1375px;
    margin: 0 auto;
}

/* Header =========================================================================================================== */
header {
    height: 90px;
    background-color: #FFC600;
    color: #ffffff;
    display: flex;
    align-items: center;
    
}
.header__inner{
    display: flex;
    align-items: center;
}
.header__logo {
    width: 203px;
    height: auto;
    margin-left: 24px;
}
.header__menu {
    display: inline-block;
}
.header__menulist {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 0 24px;
}
.header__menulist:hover {
    color: #333333;
}
.header__menulist:hover img {
    transform: rotate(102grad);
}
.header__search {
    width: 17%;
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
}
.header__searchinput {
    height: 36px;
    width: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
.header__searchinput:focus {
    outline: none;
    border: 2px solid #333333;

}
.header__searchinput::placeholder {
   color: #333333;
   font-weight: 400;
   font-style: italic;
   padding-left: 15px;
   font-size: 12px;
}
.search__button {
    background: none;
    position: relative;
    border: none;
    cursor: pointer;
    z-index: 100;
    right: 40px;
}