body {
    margin: 0;
    font-family: 'montserrat', sans-serif; 
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1375px;
    margin: 0 auto;
}

/* Header =========================================================================================================== */
header {
    height: 90px;
    background-color: #FFC600;
    color: #ffffff;
    
}
.header__inner {
    height: 90px;
}
.header__logo {
     width: 203px;
     height: auto; 
}
.header__menu {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    display: inline-block
    
}
.header__menulist {
    display: inline;
    
}